@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
:root {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    --very-darkm-magenta: hsl(300, 43%, 22%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --soft-pink: hsl(333, 80%, 67%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.rated-card {
  margin-top: 50px;
  list-style: none;
  width: 250px;
}

body {
    padding: 20px;
    margin-left: 150px;    
}

.rated-card li{
    background-color: var(--light-grayish-magenta);
    margin: 16px;
    border-radius: 8px;
    padding: 16px;     
    color: var(--very-darkm-magenta);  
    font-weight: bolder;      
    width: 350px;    
}

.list-1 span{
    margin-left: 2px;
}

.list-2 span{
    margin-left: 2px;
}

.list-3 span{
    margin-left: 2px;
}

.flex-list {
    width: 600px;  
    margin-left: 0px;  
}

.rated-card .list-2 {
    margin-left: 50px;
}

.rated-card .list-3 {
    margin-left: 100px;
}

h1{
    color: var(--very-darkm-magenta);
}

li {
    font-weight: bolder;
}

.flex-loveproducts{
    width: 380px;
    height: 300px;  
    margin-right: 100px;    
}

.flex-loveproducts h1{
    font-size: 48px;
    font-weight: bold;
    width: 310px;
    letter-spacing: -3px;
}

.flex-loveproducts p{
    line-height: 20px;        
}

.user-card{
    background-color: var(--very-darkm-magenta);
    margin-top: 46px;
    border-radius: 8px;    
    margin-left: 0px;
    margin-right: 30px;    
    padding: 30px;     
    border: 400px;   
    display: inline;   
    width: 400px;
    height: 140px;    
}

strong {
    color: var(--soft-pink);
    display: block;
}

.star {
    content: url(../images/icon-star.svg);
}

.flex-principal {
    display: flex;    
    margin-right: 280px;
    margin-left: 280px;
    padding: 40px;
    width: 1000px;
    height: 200px;
}

.flex-card {    
    display: flex;     
    justify-items: center;
    padding: 40px;
    margin-left: 270px;
    height: 500px;
    width: 1000px;
    color: var(--white);       
}

img {
    border-radius: 50%;
    height: 40px;
    display: inline;
}

.user-card h5{
    margin: 0px;     
}

.user-card strong {
    font-weight: normal;    
}

.user-card p {
 line-height: 20px;   
 font-size: 14px;
}

.flex-card .user-card-2{
    margin-top: 60px;
    height: 140px;
}

.flex-card .user-card-3{
    margin-top: 75px;
    height: 140px;
}

.image-position {
    display: flex;
}

.strong-buyer{
    padding: auto;
}

.flex-user {
    display: flex;    
}

.user-card .flex-user h5{   
   margin-left: 22px;
   margin-top: 4px;
   font-size: 13px;
   line-height: 16px;
}

/*----------------------------------Adaptar pantalla a dispositivis mas pequeños-------------------------------*/
@media (max-width: 780px){
    body {
        margin: 0;
        margin-left: 20px;
        padding: 30px;        
    }
    .flex-principal {
        display: block;
        margin: 0px;
        padding: 0;
        height: 30px;
        text-align: center;
    }   

    .flex-list {
        padding: 0;
        margin: 0;        
    }

    .flex-loveproducts{        
        height: 240px;
        width: 250px;  
        margin-right: 0px;        
    }
    
    .flex-loveproducts h1{        
        text-align: center;
    }

    .flex-loveproducts p{        
        width: 280px;
    }

    .rated-card {
        border: 0;
        margin: 0;
        margin-top: 50px;
        padding: 0;              
    }
    
    .rated-card .list-2 {
        margin-left: 0px;
        height: 40px;
        width: 260px;
    }

    .rated-card .list-1 {
        margin-left: 0px;
        height: 40px;
        width: 260px;
    }    
   
    .list-1 span{        
        margin-bottom: 8px;
        align-items: center;
        margin-right: 5px;
    }

    .list-1 span:first-child{
        margin-left: 60px;
    }

    .list-1 span:last-child{
        margin-right: 50px;
    }

    .list-2 span{        
        margin-bottom: 8px;
        align-items: center;
        margin-right: 5px;
    }    

    .list-2 span:first-child{
        margin-left: 60px;
    }

    .list-2 span:last-child{
        margin-right: 50px;
    }
    
    .list-3 span{        
        margin-bottom: 8px;
        align-items: center;
        margin-right: 5px;
    }

    .list-3 span:first-child{
        margin-left: 60px;
    }

    .list-3 span:last-child{
        margin-right: 50px;
    }

    .rated-card .list-3 {
        margin-left: 0px;        
        height: 40px; 
        width: 260px;
        text-align: center;               
    }    

    .flex-card {               
       margin: 0;
       margin-top: 400px;
       flex-direction: column;              
       padding: 0;              
    }
    
    .attribution{
        margin-top: 450px;
        text-align: left;
        margin-bottom: 0;
    }

    .user-card{
        margin-top: 150px;        
        width: 235px;
    }   

    .user-card-2{
        margin-top: 0px;
        
    }

    .user-card .user-card-3{
        margin-top: 0px;        
    }   
}
